<h1><%= user.firstname %> Visiting <%= userProfile.firstname %>'s Page! </h1>
<!-- this page would allow a user to view someone's page but not allow them to edit pics -->



<div class="row">
    <div class="col s4">
        <!-- The link below should lead them to that user "that they're visiting/pic/:id". And you should
        probably include the img tag WITHIN the opening <a> tag-->
        <a href="">
            <img src="<%= userProfile.pic %>" alt="profile pic" style="height: 500px; width: auto;">
        </a>
        <div>
            <p><strong>Name:</strong> <%= user.firstname %> <%= user.lastname %> </p>
        </div>
            <p>
                <%= user.bio %>
            </p>
        <div>
            
            <% posts.forEach(p => { %>
                <% if (p.userId == user.id) { %> 
                <ul>
                    <li>
                        <img src="<%= p.picPost %>" style="width: 350px; height: auto">
                        <p><%= p.caption %> </p>
                    </li>
                    <form method="POST" action="/logistics/posts/<%= p.id %>/?_method=DELETE">
                        <input type="submit" class="btn-small red" value="Delete Picture">
                    </form>
                </ul>
                <% } %> 
            <% }) %>
        </div>
    </div>
</div>