<h1><%= user.firstname %></h1>

<div class="row">
    <div class="col s4">
        <img class="materialboxed" width="650" src="<%= user.pic %>" alt="profile pic" style="height: 350px; width: auto;">
    </div>
    <div>
        <p><strong>Name:</strong> <%= user.firstname %> <%= user.lastname %> </p>
        <p><strong>Birthday: </strong> <%= moment(user.birthday).format(' dddd MMMM Do[,] YYYY') %> </p>
        <p><strong>Account Created on: </strong><%= moment(user.createdAt).format('dddd MMMM Do[,] YYYY') %> </p>
        <p>
            <%= user.bio %>
        </p>
        <form>
            <input type="submit" class="btn-small grey" value="Edit Profile">
        </form>
    </div>
</div>
<div class="row">
    <li class="col s4">
        <a href="/logistics/posting"><i class="large material-icons" >add_a_photo</i></a>
    </li>
    <li class="col s4">
        <a href="/logistics/userIndex"><i class="large material-icons" >people</i></a>
    </li>
    <li class="col s4">
        <a href="/logistics/feed"><i class="large material-icons" >image</i></a>
    </li>
</div>


<% posts.forEach(p => { %>
    <% if (p.userId == user.id) { %> 
    <div class="row">
        <ul>
            <li class="col s4">
                <a href="/logistics/viewPic/p.id"><img src="<%= p.picPost %>" style="width: 350px; height: auto" ></a>
                    <p><%= p.caption %> </p>
                <form method="POST" action="/logistics/posts/<%= p.id %>/?_method=DELETE">
                    <input type="submit" class="btn-small red" value="Delete Picture">
                </form>
            </li>
        </ul>
    </div>
    <% } %> 
<% }) %>

